<h1>
  <%= @recipe.name %>
</h1>

<div>

  <div>
    <a href="/existing_recipe_form/<%= @recipe.id %>">
      Edit recipe
    </a>
  </div>

  <div>
    <a href="/delete_recipe/<%= @recipe.id %>">
      Delete recipe
    </a>
  </div>
</div>

<dl>
  <dt>
    Source website
  </dt>
  <dd>
    <a href= "<%= @recipe.source_website %>"><%= @recipe.source_website %></a>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @recipe.image %>">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@recipe.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@recipe.updated_at) %> ago
  </dd>

<h3>Items needed</h3>

<table>
    
    <tr>
        <th>Ingredient</th>
        <th>Essential?</th>
        <th>Quantity</th>
        <th>Measurement Units</th>
    </tr>
    
    <% items = Item.where({:recipe_id => @recipe.id}) %>
    <% items.count.times do |i|%>
    <tr>
        <td><%= Ingredient.where({:id => items.at(i).ingredient_id}).pluck(:name).first %></td>
        <td><%= items.at(i).essential_flag %></td>
        <td><%= items.at(i).quantity %></td>
        <td><%= items.at(i).measurement_units %></td>
    </tr>
    <% end %>

</table>
  
</dl>

