<h1>
  Recipe #<%= @recipe.id %> details
</h1>

<div>
  <div>
    <a href="/recipes">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_recipe_form/<%= @recipe.id %>">
      Edit recipe
    </a>
  </div>

  <div>
    <a href="/delete_recipe/<%= @recipe.id %>">
      Delete recipe
    </a>
  </div>
</div>

<dl>
  <dt>
    Source website
  </dt>
  <dd>
    <a href= "<%= @recipe.source_website %>"><%= @recipe.source_website %></a>
  </dd>

  <dt>
    Name
  </dt>
  <dd>
    <%= @recipe.name %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @recipe.image %>">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@recipe.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@recipe.updated_at) %> ago
  </dd>
</dl>

