<h1>
  My Recipes
</h1>

<a href="/new_recipe_form">
  Add a new recipe
</a>

<hr>

<table>
  <tr>
 
    <th>
      Name
    </th>

    <th>
      Source website
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @recipes.each do |recipe| %>
  
  <% if current_user.id = recipe.user_id %>
  <tr>
   
    <td>
      <%= recipe.name %>
    </td>

    <td>
      <a href= "<%= recipe.source_website %>"><%= recipe.source_website %></a>
    </td>
   
    <td>
      <%= time_ago_in_words(recipe.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(recipe.updated_at) %> ago
    </td>

    <td>
      <a href="/recipes/<%= recipe.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
