<h1>
  Edit recipe :<%= @recipe.name %>
</h1>

<hr>

<%= render("recipe_templates/validation_failures.html.erb") %>

<form action="/update_recipe_record/<%= @recipe.id %>" method="post">
  <div>
    <label for="source_website">
      Source website
    </label>

    <input type="text" id="source_website" name="source_website" value="<%= @recipe.source_website %>">
  </div>

  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @recipe.name %>">
  </div>

  <div>
    <label for="image">
      Image
    </label>

    <input type="text" id="image" name="image" value="<%= @recipe.image %>">
  </div>

  <div>
    <label for="items">
      Items
    </label>
      <table>
    
        <tr>
          <th>Ingredient</th>
          <th>Essential?</th>
          <th>Quantity</th>
          <th>Measurement Units</th>
          <th></th>
        </tr>
    
        <% items = Item.where({:recipe_id => @recipe.id}) %>
        <% items.count.times do |i|%>
        <tr>
          <td><%= Ingredient.where({:id => items.at(i).ingredient_id}).pluck(:name).first %></td>
          <td><%= items.at(i).essential_flag %></td>
          <td><%= items.at(i).quantity %></td>
          <td><%= items.at(i).measurement_units %></td>
          <td><a href ="/delete_item/<%=items.at(i).id %>">Delete item</a></td>
        </tr>
        <% end %>

      </table>
  
  <a href="/new_item_form/<%=@recipe.id%>">
    Add item
  </a>
  
  </div>

  <button>
    Update recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
