<h1>
  Add a new item to <%= @recipe_name %> recipe
</h1>

<hr>

<%= render("item_templates/validation_failures.html.erb") %>

<form action="/insert_item_record" method="post">
  <div>
    <input id="essential_flag" name="essential_flag" type="checkbox" <%= "checked" if @item.essential_flag %>>
    <label for="essential_flag">
      Essential flag
    </label>
  </div>

  <div>
    <label for="quantity">
      Quantity
    </label>

    <input type="text" id="quantity" name="quantity" value="<%= @item.quantity %>">
  </div>

  <div>
    <label for="measurement_units">
      Measurement units
    </label>

    <select id="measurement_units" name="measurement_units" >
    <% @measurement_units.each do |a_unit| %>
    <option value="<%= a_unit %>">
      <%= a_unit %>
    </option>
    <% end %>
    </select>


  <label for="ingredient">Ingredient</label>
    <select id="ingredient" name="ingredient_id" >
    <% @ingredients.each do |an_ingredient| %>
    <option value="<%= an_ingredient.id %>">
      <%= an_ingredient.name %>
    </option>
    <% end %>
    </select>

  <div>
    <label for="new_ingredient">
      Not in our list?
    </label>
    <input type="text" id="new_ingredient" name="new_ingredient">
  </div>


  <button>
    Save item
  </button>
</form>

<hr>

<a href="/items">
  Go back
</a>
